pipeline/Copy Data.json
{
	"name": "Copy Data",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AvroSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.avro",
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "SqlServerSink"
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": false,
					"translator": {
						"value": "@json(activity('Lookup1').output.firstRow.json_output)",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "Avrosample",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SqlServerDataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "DECLARE @json_construct varchar(MAX) = '{\"type\": \"TabularTranslator\", \"mappings\": ';\n;with etc as (\nSELECT c.name AS ColName, t.name AS TableName\nFROM sys.columns c\n  JOIN sys.tables t ON c.object_id = t.object_id\n--WHERE c.name LIKE '%MyCol%';\n)\n\n--select * \n--from etc\n\nSELECT  CONCAT(  @json_construct, '[',\n    STRING_AGG(\n        CONCAT('{\"source\":{\"name\":\"' ,c.ColName, '\"},\n            \"sink\":{\"name\":\"',   c.ColName, '\"}}')\n    ,','),\n    ']}') as json_output\nFROM etc as c\nwhere  c.[TableName] = 'emp'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerDataset",
						"type": "DatasetReference"
					}
				}
			}
		],
		"folder": {
			"name": "SimpleCopy"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-06T02:15:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}