pipeline/Copy Data.json
{
	"name": "Copy Data",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AvroSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.avro",
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "SqlServerSink"
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": false,
					"translator": {
						"value": "@json(activity('Lookup1').output.firstRow.json_output)",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "Avrosample",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SqlServerDataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "\nDECLARE @json_construct varchar(MAX) = '{\"type\": \"TabularTranslator\", \n         \"mappings\":';\n;with cte as (\nSELECT TABLE_NAME AS TableName\n       , COLUMN_NAME AS ColName\n\t   , \"DATA_TYPE\" =\n\tCASE \n\t   WHEN DATA_TYPE LIKE 'varchar%' THEN 'String'\n\t   WHEN DATA_TYPE LIKE 'INT%' THEN 'Int32'\n\t   WHEN DATA_TYPE LIKE '%CHAR%' THEN 'String'\n\t   WHEN DATA_TYPE = 'uniqueidentifier' THEN 'Guid'\n\t   ELSE 'String'\n    END\n  FROM INFORMATION_SCHEMA.COLUMNS\n)\n\n--select * \n--from cte\n\nSELECT  CONCAT(  @json_construct, '[',\n    STRING_AGG(\n        CONCAT('\n\t\t         {\n\t\t         \"source\":{\n\t\t             \"name\":\"' ,c.ColName, '\"\n\t\t\t     },\n                          \"sink\":{\n\t\t\t\t \"name\":\"',   c.ColName, ',\n\t\t\t         \"type\":\"',c.DATA_TYPE,'\"\n\t\t\t\t }\n\t\t\t\t}')\n    ,','),\n    ']\n\t}') as json_output\nFROM cte as c\nwhere  c.[TableName] = 'emp'\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerDataset",
						"type": "DatasetReference"
					}
				}
			}
		],
		"folder": {
			"name": "SimpleCopy"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-06T02:15:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}