pipeline/ForEachCopy.json
{
	"name": "ForEachCopy",
	"properties": {
		"activities": [
			{
				"name": "GetTableList",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT TABLE_NAME \n  FROM INFORMATION_SCHEMA.TABLES ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "SetTableList",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetTableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TableList",
					"value": {
						"value": "@activity('GetTableList').output",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"TableList": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "SimpleCopy"
		},
		"annotations": []
	}
}