pipeline/ForEachCopy.json
{
	"name": "ForEachCopy",
	"properties": {
		"activities": [
			{
				"name": "GetTableList",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT TABLE_NAME \n  FROM INFORMATION_SCHEMA.TABLES ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "SetTableList",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetTableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TableList",
					"value": {
						"value": "@activity('GetTableList').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SetTableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('TableList')",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "CovertToAvro",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AvroSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "AvroWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "LocalSQLServer",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Avrosample",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "GetMappingJson",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "CovertToAvro",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "DECLARE @json_construct VARCHAR(MAX) = '{\"type\": \"TabularTranslator\", \n\"mappings\": ';\n;WITH CTE AS (\nSELECT TABLE_NAME AS TABLENAME\n       , COLUMN_NAME AS COLNAME\n\t   , \"DATA_TYPE\" =\n\tCASE \n\t   WHEN DATA_TYPE LIKE 'varchar%' THEN 'String'\n\t   WHEN DATA_TYPE LIKE 'INT%' THEN 'Int32'\n\t   WHEN DATA_TYPE LIKE '%CHAR%' THEN 'String'\n\t   WHEN DATA_TYPE = 'uniqueidentifier' THEN 'Guid'\n\t   ELSE 'String'\n    END\n  FROM INFORMATION_SCHEMA.COLUMNS\n)\n\n--select * \n--from cte\n\nSELECT  CONCAT(  @json_construct, '[',\n    STRING_AGG(\n        CONCAT('\n\t\t         {\n\t\t         \"source\": {\n\t\t             \"name\": \"', C.COLNAME, '\"\n\t\t\t     },\n                 \"sink\": {\n\t\t\t\t  \"name\": \"', C.COLNAME, '\",\n\t\t\t      \"type\": \"', C.DATA_TYPE,'\"\n\t\t\t\t }\n\t\t\t\t}')\n    ,','),\n    ']\n\t}') AS JSON_OUTPUT\nFROM CTE AS C\nwhere  C.TABLENAME = @item().TABLE_NAME\n",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "LocalSQLServer",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"TableList": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "SimpleCopy"
		},
		"annotations": []
	}
}