pipeline/pipeline_P44TimelyNewShipment.json
{
	"name": "pipeline_P44TimelyNewShipment",
	"properties": {
		"activities": [
			{
				"name": "ForEachTMS record",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Web get token new",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@if(equals(pipeline().parameters.DAILY_OR_HOURLY,'HOURLY'), activity('Lookup HourlyTMS').output.value, activity('Lookup Daily TMS').output.value)",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Switch Cases of Air Ocean",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "Set variable Air or Ocean",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@variables('air_or_ocean')",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "Air",
										"activities": [
											{
												"name": "Web Air POST",
												"type": "WebActivity",
												"dependsOn": [
													{
														"activity": "Set variable string",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"method": "POST",
													"headers": {
														"Content-Type": "application/json",
														"Authorization": {
															"value": "@concat('Bearer ',activity('Web get token new').output.access_token)",
															"type": "Expression"
														}
													},
													"url": "https://na12.api.project44.com/api/v4/shipments/tracking",
													"body": {
														"value": "@variables('json_string_converted')",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Set variable JSON string",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "json_string",
													"value": {
														"value": "@concat('{',if(equals(variables('shipment_id'),''),'',concat('\"id\":\"',variables('shipment_id'),'\",')),'\"identifiers\":[{\"type\":\"HOUSE_AIR_WAYBILL\",\"value\":\"',item().HBL_AWB_NO,'\"},{\"type\":\"CARRIER_SCAC\",\"value\":\"',item().CARRIER_SCAC,'\"}],\"attributes\":[',\nif(not(equals(item().source_system,'')),concat('{\"name\":\"Source System\",\"values\":[\"',item().source_system,'\"]},'),''),\nif(not(equals(item().country,'')),concat('{\"name\":\"Country\",\"values\":[\"',item().country,'\"]},'),''),\nif(not(equals(item().delivery_number,'')),concat('{\"name\":\"Delivery Number\",\"values\":[\"',item().delivery_number,'\"]},'),''),\nif(not(equals(item().direction,'')),concat('{\"name\":\"Direction\",\"values\":[\"',item().direction,'\"]},'),''),\nif(not(equals(item().incoterm,'')),concat('{\"name\":\"Incoterm\",\"values\":[\"',item().incoterm,'\"]},'),''),\nif(not(equals(item().shipment_number,'')),concat('{\"name\":\"Shipment Number\",\"values\":[\"',item().shipment_number,'\"]},'),''),\nif(not(equals(item().carrier_forwarder,'')),concat('{\"name\":\"Carrier Forwarder\",\"values\":[\"',item().carrier_forwarder,'\"]},'),''),\nif(not(equals(item().root_equipment_type,'')),concat('{\"name\":\"Root Equipment Type\",\"values\":[\"',item().root_equipment_type,'\"]},'),''),\nif(not(equals(item().planned_departure_date,'')),concat('{\"name\":\"Planned Departure Date\",\"values\":[\"',item().planned_departure_date,'\"]},'),''),\nif(not(equals(item().planned_arrival_date,'')),concat('{\"name\":\"Planned Arrival Date\",\"values\":[\"',item().planned_arrival_date,'\"]},'),''),\nif(not(equals(item().customer_reference,'')),concat('{\"name\":\"Customer Reference\",\"values\":[\"',item().customer_reference,'\"]},'),''),\nif(not(equals(item().po_number,'')),concat('{\"name\":\"PO Number\",\"values\":[\"',item().po_number,'\"]},'),''),\nif(not(equals(item().so_number,'')),concat('{\"name\":\"SO Number\",\"values\":[\"',item().so_number,'\"]},'),''),\nif(not(equals(item().shipment_created,'')),concat('{\"name\":\"Shipment Created\",\"values\":[\"',item().shipment_created,'\"]},'),''))",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Set variable string",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "Set variable JSON string",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "json_string_converted",
													"value": {
														"value": "@concat(substring(variables('json_string'),0,lastIndexOf(variables('json_string'),',')),']}')",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"value": "Ocean",
										"activities": [
											{
												"name": "Set variable JSON 2",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "json_string2",
													"value": {
														"value": "@concat('{',if(equals(variables('shipment_id'),''),'',concat('\"id\":\"',variables('shipment_id'),'\",')),'\"identifiers\":[{\"type\":\"HOUSE_BILL_OF_LADING\",\"value\":\"',item().HBL_AWB_NO,'\"},{\"type\":\"FFW_SCAC\",\"value\":\"',item().CARRIER_SCAC,'\"}],\"attributes\":[',\nif(not(equals(item().source_system,'')),concat('{\"name\":\"Source System\",\"values\":[\"',item().source_system,'\"]},'),''),\nif(not(equals(item().country,'')),concat('{\"name\":\"Country\",\"values\":[\"',item().country,'\"]},'),''),\nif(not(equals(item().delivery_number,'')),concat('{\"name\":\"Delivery Number\",\"values\":[\"',item().delivery_number,'\"]},'),''),\nif(not(equals(item().direction,'')),concat('{\"name\":\"Direction\",\"values\":[\"',item().direction,'\"]},'),''),\nif(not(equals(item().incoterm,'')),concat('{\"name\":\"Incoterm\",\"values\":[\"',item().incoterm,'\"]},'),''),\nif(not(equals(item().shipment_number,'')),concat('{\"name\":\"Shipment Number\",\"values\":[\"',item().shipment_number,'\"]},'),''),\nif(not(equals(item().carrier_forwarder,'')),concat('{\"name\":\"Carrier Forwarder\",\"values\":[\"',item().carrier_forwarder,'\"]},'),''),\nif(not(equals(item().root_equipment_type,'')),concat('{\"name\":\"Root Equipment Type\",\"values\":[\"',item().root_equipment_type,'\"]},'),''),\nif(not(equals(item().planned_departure_date,'')),concat('{\"name\":\"Planned Departure Date\",\"values\":[\"',item().planned_departure_date,'\"]},'),''),\nif(not(equals(item().planned_arrival_date,'')),concat('{\"name\":\"Planned Arrival Date\",\"values\":[\"',item().planned_arrival_date,'\"]},'),''),\nif(not(equals(item().customer_reference,'')),concat('{\"name\":\"Customer Reference\",\"values\":[\"',item().customer_reference,'\"]},'),''),\nif(not(equals(item().po_number,'')),concat('{\"name\":\"PO Number\",\"values\":[\"',item().po_number,'\"]},'),''),\nif(not(equals(item().so_number,'')),concat('{\"name\":\"SO Number\",\"values\":[\"',item().so_number,'\"]},'),''),\nif(not(equals(item().shipment_created,'')),concat('{\"name\":\"Shipment Created\",\"values\":[\"',item().shipment_created,'\"]},'),''))",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Web Ocean POST",
												"type": "WebActivity",
												"dependsOn": [
													{
														"activity": "Set variable converted 2",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"method": "POST",
													"headers": {
														"Content-Type": "application/json",
														"Authorization": {
															"value": "@concat('Bearer ',activity('Web get token new').output.access_token)",
															"type": "Expression"
														}
													},
													"url": "https://na12.api.project44.com/api/v4/shipments/tracking",
													"body": {
														"value": "@variables('json_string_converted2')",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Set variable converted 2",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "Set variable JSON 2",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "json_string_converted2",
													"value": {
														"value": "@concat(substring(variables('json_string2'),0,lastIndexOf(variables('json_string2'),',')),']}')",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "Set variable Air or Ocean",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "If Condition SCAC flag",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "air_or_ocean",
								"value": {
									"value": "@if(or(equals(item().root_equipment_type,'Air Consol'),equals(item().root_equipment_type,'Air Direct')),'Air','Ocean')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If Condition SCAC flag",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set variable shipment_id",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().SCAC_FLAG,'X')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable shipment_id blank",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Web Air DELETE",
												"dependencyConditions": [
													"Completed"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "shipment_id",
											"value": {
												"value": "@string('')",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Web Air DELETE",
										"type": "WebActivity",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"method": "DELETE",
											"headers": {
												"Content-Type": "application/json",
												"Authorization": {
													"value": "@concat('Bearer ',activity('Web get token new').output.access_token)",
													"type": "Expression"
												}
											},
											"url": {
												"value": "@concat('https://na12.api.project44.com/api/v4/shipments/',variables('shipment_id'),'/tracking')",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "Set variable shipment_id",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "shipment_id",
								"value": {
									"value": "@item().shipment_id",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Web get token new",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "If Condition daily or hourly",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"url": {
						"value": "@concat(pipeline().parameters.account_url)",
						"type": "Expression"
					},
					"body": {
						"value": "@concat('client_id=0oa1ycrx9srP3InoH0h8&client_secret=CCb7bBem0XOqzvUvjdfh0AsYTEup9S6z5KHw6uLJwtlP6Gz-zlzWH8jZtcXys9co&grant_type=client_credentials')\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition daily or hourly",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.DAILY_OR_HOURLY,'HOURLY')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Lookup Daily TMS",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeV2Source",
									"query": "select distinct \"hbl_awb_no\" as \"HBL_AWB_NO\",\"SCAC Code\" as \"CARRIER_SCAC\",\"source_system\",\"country\",\"delivery_number\",\"direction\",\"incoterm\",\"shipment_number\",\"carrier_forwarder\",\"root_equipment_type\",\"planned_departure_date\",\"planned_arrival_date\",\"customer_reference\",\"po_number\",\"so_number\",\"shipment_created\",\"shipment_id\",\"SCAC Code Flag\" as \"SCAC_FLAG\" from PROD_CONSOLIDATION.TMS.V_TMS_RTTV_SCAC_UPDATE where \"SCAC Code\" <> ''",
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								},
								"dataset": {
									"referenceName": "SnowflakeTableP44Shipment",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Lookup HourlyTMS",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeV2Source",
									"query": "select distinct \"HBL_AWB_no\" as \"HBL_AWB_NO\",\"SCAC Code\" as \"CARRIER_SCAC\",\"source_system\",\"country\",\"delivery_number\",\"direction\",\"incoterm\",\"shipment_number\",\"carrier_forwarder\",\"root_equipment_type\",\"planned_departure_date\",\"planned_arrival_date\",\"customer_reference\",\"po_number\",\"so_number\",\"shipment_created\" from TMS.V_TMS_TIMELY_LAST where \"CARRIER_SCAC\" <> '' and \"CARRIER_SCAC\" is not null",
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								},
								"dataset": {
									"referenceName": "SnowflakeTableP44Shipment",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						}
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": []
			}
		],
		"parameters": {
			"DAILY_OR_HOURLY": {
				"type": "string",
				"defaultValue": "HOURLY"
			},
			"account_url": {
				"type": "string",
				"defaultValue": "https://na12.api.project44.com/api/v4/oauth2/token"
			},
			"DATE_OF_DAILY": {
				"type": "string"
			}
		},
		"variables": {
			"json_string": {
				"type": "String"
			},
			"json_string2": {
				"type": "String"
			},
			"json_string_converted": {
				"type": "String"
			},
			"json_string_converted2": {
				"type": "String"
			},
			"air_or_ocean": {
				"type": "String"
			},
			"shipment_id": {
				"type": "String"
			}
		},
		"folder": {
			"name": "p44"
		},
		"annotations": []
	}
}