pipeline/UntilActivity.json
{
	"name": "UntilActivity",
	"properties": {
		"activities": [
			{
				"name": "LastID_Lookup_AC",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT LASTID \n  FROM [dbo].[IDLookup] ( NOLOCK )\n WHERE TABLENAME = 'DIMCUSTOMER'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set_LastID_AC",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LastID_Lookup_AC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "LastID",
					"value": {
						"value": "@string(activity('LastID_Lookup_AC').output.firstRow.LastID)\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Init_Sync_AC",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT * \n  FROM [dbo].[DimCustomer] ( NOLOCK )",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [dbo].[DimCustomer]",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CustomerKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "CustomerKey",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "GeographyKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "GeographyKey",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CustomerAlternateKey",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CustomerAlternateKey",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Title",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Title",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FirstName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FirstName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MiddleName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MiddleName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LastName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LastName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NameStyle",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "NameStyle",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "BirthDate",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "BirthDate",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "MaritalStatus",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "MaritalStatus",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "Suffix",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Suffix",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Gender",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Gender",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "EmailAddress",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EmailAddress",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "YearlyIncome",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "YearlyIncome",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "TotalChildren",
									"type": "Byte",
									"physicalType": "tinyint"
								},
								"sink": {
									"name": "TotalChildren",
									"type": "Byte",
									"physicalType": "tinyint"
								}
							},
							{
								"source": {
									"name": "NumberChildrenAtHome",
									"type": "Byte",
									"physicalType": "tinyint"
								},
								"sink": {
									"name": "NumberChildrenAtHome",
									"type": "Byte",
									"physicalType": "tinyint"
								}
							},
							{
								"source": {
									"name": "EnglishEducation",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EnglishEducation",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SpanishEducation",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SpanishEducation",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FrenchEducation",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FrenchEducation",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "EnglishOccupation",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EnglishOccupation",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SpanishOccupation",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SpanishOccupation",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FrenchOccupation",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FrenchOccupation",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "HouseOwnerFlag",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "HouseOwnerFlag",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "NumberCarsOwned",
									"type": "Byte",
									"physicalType": "tinyint"
								},
								"sink": {
									"name": "NumberCarsOwned",
									"type": "Byte",
									"physicalType": "tinyint"
								}
							},
							{
								"source": {
									"name": "AddressLine1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AddressLine1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AddressLine2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AddressLine2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Phone",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Phone",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DateFirstPurchase",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "DateFirstPurchase",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "CommuteDistance",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CommuteDistance",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SELFHOSTNODE1_DIMCUSTOMER",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSQLPracticeDBDimCustomer",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Until_AC",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set_LastID_AC",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Init_Sync_AC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(variables('CurrentID')),int(variables('LastID')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetCurrentID_AC",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "SELECT MAX([CustomerKey]) AS CurrentId FROM [dbo].[DimCustomer] ( NOLOCK )",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SELFHOSTNODE1_DIMCUSTOMER",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "SetCurrentID_AC",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GetCurrentID_AC",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "CurrentID",
								"value": {
									"value": "@string(activity('GetCurrentID_AC').output.firstRow.CurrentId)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Wait_AC",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "SetCurrentID_AC",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 30
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "Ciopt_Delta_AC",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Until_AC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[dbo].[Usp_GetDeltaFromDimCustomer]",
						"storedProcedureParameters": {
							"LastID": {
								"type": "Int32",
								"value": {
									"value": "@int(variables('LastID'))",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [dbo].[DimCustomer]",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CustomerKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "CustomerKey",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "GeographyKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "GeographyKey",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CustomerAlternateKey",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CustomerAlternateKey",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Title",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Title",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FirstName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FirstName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MiddleName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MiddleName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LastName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LastName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NameStyle",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "NameStyle",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "BirthDate",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "BirthDate",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "MaritalStatus",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "MaritalStatus",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "Suffix",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Suffix",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Gender",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Gender",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "EmailAddress",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EmailAddress",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "YearlyIncome",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "YearlyIncome",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "TotalChildren",
									"type": "Byte",
									"physicalType": "tinyint"
								},
								"sink": {
									"name": "TotalChildren",
									"type": "Byte",
									"physicalType": "tinyint"
								}
							},
							{
								"source": {
									"name": "NumberChildrenAtHome",
									"type": "Byte",
									"physicalType": "tinyint"
								},
								"sink": {
									"name": "NumberChildrenAtHome",
									"type": "Byte",
									"physicalType": "tinyint"
								}
							},
							{
								"source": {
									"name": "EnglishEducation",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EnglishEducation",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SpanishEducation",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SpanishEducation",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FrenchEducation",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FrenchEducation",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "EnglishOccupation",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EnglishOccupation",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SpanishOccupation",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SpanishOccupation",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FrenchOccupation",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FrenchOccupation",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "HouseOwnerFlag",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "HouseOwnerFlag",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "NumberCarsOwned",
									"type": "Byte",
									"physicalType": "tinyint"
								},
								"sink": {
									"name": "NumberCarsOwned",
									"type": "Byte",
									"physicalType": "tinyint"
								}
							},
							{
								"source": {
									"name": "AddressLine1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AddressLine1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AddressLine2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AddressLine2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Phone",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Phone",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DateFirstPurchase",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "DateFirstPurchase",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "CommuteDistance",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CommuteDistance",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SELFHOSTNODE1_DIMCUSTOMER",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSQLPracticeDBDimCustomer",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SP_StoreLastID_AC",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Ciopt_Delta_AC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Usp_UpdateIDLookup]",
					"storedProcedureParameters": {
						"LastID": {
							"value": {
								"value": "@variables('LastID')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"TableName": {
							"value": "DimCustomer",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedService",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"LastID": {
				"type": "String"
			},
			"CurrentID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "UntilActivity"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-06T07:58:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}